/* .imageHeader{
    margin-top: 100px;
} */
.btn{
    text-align: center;
}
.navbar{
    background-color: #193a7f;
}
.btn{
    background-color: #193a7f;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
    background-color: #315cb8;
}
a{
    text-decoration: none;
}


.card-bg-selena{
    background-image: url('../images/selena.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg-nebula{
    background-image: url('../images/nebula.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg-batozar{
    background-image: url('../images/ceros\ dan\ batzar.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg-ceros{
    background-image: url('../images/ceros\ dan\ batzar.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg-sagaras{
    background-image: url('../images/sagaras.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg-komet{
    background-image: url('../images/komet.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
.card-bg::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4); /* transparan hitam */
  z-index: 0;
}
.card-body {
  position: relative;
  z-index: 1;
}



.biru{
    color: #193a7f;
}
.deskripsi{
    text-align: justify;
}
.about-us{
    background-color: #193a7f;
}
.bg-footer{
    background-color: #193a7f;
}
/* .button{
    margin-left: 25%;
} */

/* @media (max-width:768){

    .button{
        margin-left: 50%;
    }

} */
/* 
#services img{
    height: 130px;
    padding:10px;
} */
.list-group li{
    font-size: small;
}

